%div.container-fluid
  %div.row
    = link_to "В офис", profile_path(@user.profile), class: "btn btn-default btn-sm"
    = link_to "В магазин", store_path(@store.title), class: "btn btn-default btn-sm"
    - if @pop.present?
      = link_to "К торговой точке", store_pop_path(@store.title, @pop), class: "btn btn-default btn-sm"
      = link_to "На склад", store_ware_storages_path(@store.title, pop_id: @pop.id), class: "btn btn-default btn-sm"
    -elsif @ware.present? && @ware.ware_type == 'goods'
      = link_to "К описанию товара", store_good_path(@store.title, @ware), class: "btn btn-default btn-sm"
      = link_to "На склад", store_ware_storages_path(@store.title ware_id: @ware.id), class: "btn btn-default btn-sm"
    - elsif @ware.present? && @ware.ware_type == 'service'
      = link_to "К описанию услуги", store_service_path(@store.title, @ware), class: "btn btn-default btn-sm"
      = link_to "На склад", store_ware_storages_path(@store.title ware_id: @ware.id), class: "btn btn-default btn-sm"
  %div.row
    %div.col-md-12
      %h4 Основная информация