%div.container-fluid
  %div.row
    = link_to "В офис", profile_path(@user.profile), class: "btn btn-default btn-sm"
    = link_to "В магазин", store_path(@store.title), class: "btn btn-default btn-sm"
    - if @pop.present?
      = link_to "К торговой точке", store_pop_path(@store.title, @pop), class: "btn btn-default btn-sm"
    -elsif @ware.present? && @ware.ware_type == 'goods'
      = link_to "К описанию товара", store_good_path(@store.title, @ware), class: "btn btn-default btn-sm"
    - elsif @ware.present? && @ware.ware_type == 'service'
      = link_to "К описанию услуги", store_service_path(@store.title, @ware), class: "btn btn-default btn-sm"
  %div.row
    %div.col-md-12
      %h4 Перечень товаров
      - if @resource.any?
        = will_paginate @resource, renderer: BootstrapPagination::Rails
        %br
        %table{:class => 'table table-striped table-bordered'}
          %thead
            %tr
              %td
                %b Название
              %td
                %b Цена
              %td
                %b Валюта
              - if @store.ware_type == 'goods'
                %td
                  %b Количество
                %td
                  %b Единица измерения
              %td
                %b В наличии
              %td
                %b Магазин
              %td
                %b Торговая точка
              %td
                %b Действия
          %tbody
            - @resource.each do |ws|
              %tr
                = simple_form_for [@store, ws], method: :put, url: store_ware_storage_path(@store.title, ws) do |f|
                  - if @pop.present?
                    = f.input :pop_id, as: :hidden, input_html: { value: "#{@pop.id.to_s}" }
                  - if @ware.present?
                    = f.input :ware_id, as: :hidden, input_html: { value: "#{@ware.id.to_s}" }
                  %td
                    - if ws.ware.ware_type == 'goods'
                      = link_to "#{ws.ware.name}", store_good_path(@store.title, ws.ware)
                    - elsif ws.ware.ware_type == 'service'
                      = link_to "#{ws.ware.name}", store_service_path(@store.title, ws.ware)
                  %td
                    = f.input :price, as: :float, label: false
                  %td
                    = f.input :currency, as: :select, collection: WareStorage::CURRENCIES, label: false
                  - if ws.ware.ware_type == 'goods'
                    %td
                      = f.input :count, as: :integer, label: false
                    %td
                      = f.input :unit, as: :select, collection: WareStorage::UNITS, label: false
                    - if ws.count.to_i > 0
                      %td Да
                    - else
                      %td Нет
                  - else
                    %td
                      = f.input :in_sight, as: :boolean, label: false
                  %td
                    = link_to "#{ws.store.name}", store_path(@store.title)
                  %td 
                    = link_to "#{ws.pop.name}", store_pop_path(@store.title, ws.pop)
                  %td
                    = f.button :submit, 'Изменить', class: "btn btn-primary btn-xs"
      - else
        %b На складе еще нет товаров.
        %p Чтобы добавить товар, вернитесь в свой магазин.