= simple_form_for @resource, url: profile_path, method: :put do |f|
  %p
    = f.input :first_name, as: :string, label: 'Имя'
  %p
    = f.input :last_name, as: :string, label: 'Фамилия'
  - if @resource.date_of_birth.present?
    %p
      = f.input :date_of_birth, as: :string, input_html: { value: @resource.date_of_birth.strftime("%d.%m.%Y") },  label: 'Date of birth', placeholder: "19.01.1990"
  - else
    %p
      = f.input :date_of_birth, as: :string, label: 'Дата рождения', placeholder: "19.01.1990"
  %p
    = f.input :phone_number, as: :string, label: 'Номер телефона', placeholder: "81234567890"
  %p
    = f.input :country, as: :string, label: 'Страна'
  %p
    = f.input :city, as: :string, label: 'Населенный пункт'
  %p
    = f.input :adress, as: :string, label: 'Адрес', placeholder: "ул. Первая, дом 0, кв. 0"
  %p
    - if @user.profile.first_name.present?
      = link_to "Назад", profile_path(@user.profile), class: "btn btn-default"
    = f.button :submit, 'Готово', class: "btn btn-primary"