%div.container-fluid
  %div.row
    %div.col-md-8
      %b Редактирование
      = simple_form_for @resource, url: profile_path, method: :put do |f|
        %p
          = f.input :first_name, as: :string, label: 'First name'
        %p
          = f.input :last_name, as: :string, label: 'Last name'
        %p
          = f.input :date_of_birth, as: :string, label: 'Date of birth'
        %p
          = f.button :submit, 'Готово', class: "btn btn-primary"
