%p Welcome!
%p This is mall where you can sell online!
%p Please, fill up your profile!
= simple_form_for :profile, url: profiles_path, method: :post do |f|
	%p
		= f.input :first_name, as: :string, label: 'First name'
	%p
		= f.input :last_name, as: :string, label: 'Last name'
	%p
		= f.input :date_of_birth, as: :string, label: 'Date of birth'
	%p
		= f.button :submit
