%div.container-fluid
  %div.row
    %div.col-md-8
      %table.table
        %tr
          %td
            %b
              = "Добро пожаловать, #{@resource.first_name} #{@resource.last_name}"
        %tr
          %td
            = "Имя: #{@resource.first_name}"
        %tr
          %td
            - if @resource.last_name.present?
              = "Фамилия: #{@resource.last_name}"
        %tr
          %td
            - if @resource.date_of_birth.present?
              = "Дата рождения: #{@resource.date_of_birth.strftime("%m.%d.%Y")}"
            - else
              = "Дата рождения: Не указана"
        %tr
          %td
            - if @resource.company.present?
              = "Компания: #{@resource.company}"
            - else
              = 'Компания: Не указана'
    %div.col-md-4
      %p
        = link_to "Редактировать профиль", edit_profile_path, class: "btn btn-default btn-block"
      - if @user.stores.any?
        %br
        %p Ваши интернет-магазины
        - @user.stores.each do |s|
          %p
            = link_to "#{s.name}", store_path(s.title), class: "btn btn-success btn-block"
      %br
      %p
        = link_to "Добавить интернет-магазин", new_store_path, class: "btn btn-default btn-block"