%div.container-fluid
  %div.row
    %div.col-md-8
      %p
        = "Добро пожаловать, #{@resource.first_name} #{@resource.last_name}"
      %p
        %strong 
          = "Имя: #{@resource.first_name}"
      %p
        %strong 
          = "Фамилия: #{@resource.last_name}"
      - if @resource.date_of_birth.present?
        %p
          %strong 
            = "Дата рождения: #{@resource.date_of_birth.strftime("%m.%d.%Y")}"
      -else
        %p
          %strong 
            = "Дата рождения: Не указана"
    %div.col-md-4
      %p
        = link_to "Редактировать профиль", edit_profile_path, class: "btn btn-default btn-block"
      - if @user.stores.any?
        %br
        %p Ваши интернет-магазины
        - @user.stores.each do |s|
          %p
            = link_to "#{s.name}", store_path(s.title), class: "btn btn-success btn-block"
      %br
      %p
        = link_to "Добавить интернет-магазин", new_store_path, class: "btn btn-default btn-block"