%div.container-fluid
  %div.row
    %div.col-md-8
      %p
        = "Добро пожаловать, #{@resource.first_name} #{@resource.last_name}"
      %p
        %strong 
          = "Имя: #{@resource.first_name}"
      %p
        %strong 
          = "Фамилия: #{@resource.last_name}"
      %p
        %strong 
          = "Дата рождения: #{@resource.date_of_birth}"
    %div.col-md-4
      %p
        = link_to "Редактировать профиль", edit_profile_path, class: "btn btn-default btn-block"
      %p
        = link_to "Добавить интернет-магазин", new_store_path, class: "btn btn-default btn-block"