%div.container-fluid
  %div.row
    %div.col-md-8
      %h3 Отредактируйте основную информацию о Вашем интернет-магазине
      = simple_form_for @resource, url: store_path(title: @resource.title), method: :put do |f|
        %p
          = f.input :name, label: 'Название'
        %p
          = f.input :speciality, label: 'Специализация'
        %p
          = f.input :goods_type, label: 'Мы продаем', collection: Store::GOOD_TYPES, selected: Store::GOOD_TYPES.key(@resource.goods_type)
        %p
          = f.input :store_country, label: 'Страна'#, collection: @countries_list
        %p
          = f.input :store_city, label: 'Город'
        %p
          = link_to "Назад", profile_path(@user.profile), class: "btn btn-default"
          = f.button :submit, 'Сохранить', class: "btn btn-primary"