%div.container-fluid
  %div.row
    %div.col-md-8
      %h4 Основная информация
      %table.table
        %tr
          %td
            %b
              = @resource.name 
        %tr
          %td
            = "Специализация: #{@resource.speciality}"
        %tr
          %td
            = "Продаем: #{Store::GOOD_TYPES.key(@resource.goods_type)}"
        %tr
          %td 
            = "Открыт: #{@resource.date_of_opening.strftime("%m.%d.%Y")}"
        %tr
          %td
            - if @resource.goods_type == 'goods'
              = "Различных товаров в ассортименте: #{@resource.goods.count.to_i}"
            - else
              = "Различных услуг ассортименте #{@resource.services.count.to_i}"
        %tr
          %td
            - if @resource.last_buying_date
              = "Последняя покупка: #{@resource.last_buying_date.strftime("%m.%d.%Y")}"
            - else
              = "Последняя покупка: еще не совершалась"
        %tr
          %td
            = "Всего покупок совершено: #{@resource.buying_count.to_i}"
        %tr
          %td 
            = "Местоположение: #{@resource.store_city}, #{@resource.store_country}"
    %div.col-md-4
      %div.row
        %p
          = link_to "Назад в офис", profile_path(@user.profile), class: "btn btn-default btn-block"
        %br
        %p
          = link_to "Редактировать", edit_store_path(@resource.title), class: "btn btn-default btn-block"
        %p
          = link_to "Удалить", store_path(@resource.title), method: :delete, class: "btn btn-danger btn-block", data: { confirm: 'Вы уверены?' }
        %br
        - if @resource.goods_type == 'goods'
          %b Товары
          %p
            = link_to "Все товары", store_goods_path(@resource.title), class: "btn btn-success btn-block"
          %p
            = link_to "Добавить товар", new_store_good_path(@resource.title), class: "btn btn-success btn-block"
        - elsif @resource.goods_type == 'service'
          %b Услуги
          %p
            = link_to "Все услуги", store_services_path(@resource.title), class: "btn btn-success btn-block"
          %p
            = link_to "Добавить услугу", new_store_service_path(@resource.title), class: "btn btn-success btn-block"