%div.container-fluid
  %div.row
    %div.col-md-8
      %h3 Измените информацию о товаре
      = simple_form_for [@store, @resource], method: :put, url: store_good_path(@store.title, @resource) do |f|
        %p
          = f.input :name, as: :string, label: 'Название'
        %p
          = f.input :category, as: :string, label: 'Категория товара'
        %p
          = f.input :description, as: :string, label: 'Описание'
        %p
          = f.input :keywords, as: :string, label: 'Ключевые слова', placeholder: "example1, example2, example3"
        %p
          = link_to "Назад", store_good_path(@store.title, @resource), class: "btn btn-default"
          = f.button :submit, 'Готово', class: "btn btn-primary"