%div.container-fluid
  %div.row
    %div.col-md-12
      = link_to "Добавить новый товар", new_store_good_path, :class => 'btn btn-default pull-left'
      = link_to "Вернуться в магазин", store_path(@store.title), :class => 'btn btn-default pull-right'
      %br
      %br
      - if @resource.any?
        %br
        %table{:class => 'table table-striped table-bordered'}
          %thead
            %tr
              %td
                %b Название
              %td
                %b Категория товара
              %td
                %b Описание
              %td
                %b В наличии
              %td
                %b Количество
              %td
                %b Единица измерения
              %td
                %b Стоимость
              %td
                %b Валюта
              %td
                %b В последний раз купили:
              %td
                %b Действия
          %tbody
            - @resource.each do |g|
              %tr
                %td #{g.name}
                %td #{g.category}
                %td #{g.description}
                - if g.count > 0
                  %td Да
                - else
                  %td Нет
                %td #{g.count.to_i}
                %td #{Good::UNITS.key(g.unit)}
                %td #{g.price.round 2}
                %td #{Good::CURRENCIES.key(g.currency)}
                - if g.last_buying_date.present?
                  %td #{g.last_buying_date.strftime("%m.%d.%Y")}
                - else
                  %td Этот товар еще никто не покупал
                  %td
                    %p
                      = link_to "Подробнее", store_good_path(@store.title, g), class: "btn btn-default btn-xs btn-block"
                    %p
                      = link_to "Удалить", store_good_path(@store.title, g), method: :delete, class: "btn btn-danger btn-block btn-xs", data: { confirm: 'Вы уверены?' }