%div.container-fluid
  %div.row
    %div.col-md-8
      %h4 Основная информация
      %table.table
        %tr
          %td
            %b
              = @resource.name 
        %tr
          %td
            = "Тип деятельности: #{@resource.type}"
        %tr
          %td 
            = "Открыт: #{@resource.date_of_opening}"
        %tr
          %td 
            = "Местоположение: #{@resource.store_city}, #{@resource.store_country}"
    %div.col-md-4
      %div.row
        %div.col-md-4
          %div.row
            = link_to "Редактировать", edit_store_path(@resource), class: "btn btn-default btn-block"
        %div.col-md-4
          %div.row
            = link_to "Удалить", store_path(@resource), method: :delete, class: "btn btn-danger btn-block"