%div.container-fluid
  %div.row
    %div.col-md-8
      %h3 Шаг 2. Добавьте способ доставки к вашей торговой точке
      = simple_form_for [@store, @pop, @resource], method: :put, url: store_pop_delivery_path(store_title: @store.title, pop_id: @pop.id.to_s) do |f|
        %p
          - if @store.ware_type == 'goods'
            = f.input :type, as: :select, label: 'Вид', collection: Delivery::TYPES
          - else
            = f.input :type, as: :select, label: 'Вид', collection: {'Выезд' => 'courier'}
        %p
          = f.input :description, as: :string, label: 'Описание'
        %p
          = link_to "Назад", store_pop_path(@store.title, @pop), class: "btn btn-default"
          = f.button :submit, 'Сохранить', class: "btn btn-primary"