%div.container-fluid
  %div.row
    = form_tag (search_goods_choises_path), method: :get do
      %div.col-md-8
        %h4 Весь ассортимент товаров в ВебМолле
      %div.col-md-4
        %div.input-group
          %input.form-control{placeholder: "Поиск", type: "text", name: 'search'}
          %span.input-group-btn
            %button.btn.btn-primary{type: "submit"} Поехали!
  %div.row
    %div.col-md-12
    - if @resource.any?
      = will_paginate @resource, renderer: BootstrapPagination::Rails
      %br
      %table{:class => 'table table-striped table-bordered'}
        %thead
          %tr
            %td
              %b Название
            %td
              %b Категория товара
            %td
              %b Описание
            %td
              %b В наличии
            %td
              %b Стоимость
            %td
              %b Магазин
            %td
              %b В последний раз купили:
        %tbody
          - @resource.each do |g|
            %tr
              %td
                = link_to "#{g.name}", goods_choise_path(g)
              %td #{g.category}
              %td #{g.description}
              - if g.count > 0
                %td Да
              - else
                %td Нет
              %td #{'%.2f' % g.price} #{Ware::CURRENCIES.key(g.currency)}
              %td
                = link_to "#{g.store.name}", stores_choise_path(g.store.title)
              - if g.last_buying_date.present?
                %td #{g.last_buying_date.strftime("%m.%d.%Y")}
              - else
                %td Этот товар еще никто не покупал, станьте первым!
      = will_paginate @resource, renderer: BootstrapPagination::Rails
                  