%div.container-fluid
  %div.row
    %div.col-md-12
      - if @resource.any?
        = will_paginate @resource, renderer: BootstrapPagination::Rails
        %br
        %table{:class => 'table table-striped'}
          - @resource.each do |s|
            %tr
              %td #{s.ware.name}
              %td #{s.ware.description}
              %td #{s.ware.price} #{s.ware.currency}
              %td #{s.ware.store.name}
              %td #{s.count} #{Ware::UNITS.key(s.ware.unit)}
            

                

