%div.container-fluid
  %div.row
    %div.col-md-8
      %h4 Основная информация
      %table.table
        %tr
          %td
            %b
              = @resource.name 
        %tr
          %td
            = "Специализация: #{@resource.speciality}"
        %tr
          %td
            = "Продаем: #{Store::WARE_TYPES.key(@resource.ware_type)}"
        %tr
          %td 
            = "Открыт: #{@resource.date_of_opening.strftime("%m.%d.%Y")}"
        %tr
          %td
            - if @resource.ware_type == 'goods'
              = "Различных товаров в ассортименте: #{@resource.goods.count.to_i}"
            - else
              = "Различных услуг ассортименте #{@resource.services.count.to_i}"
        %tr
          %td
            - if @resource.last_buying_date
              = "Последняя покупка: #{@resource.last_buying_date.strftime("%m.%d.%Y")}"
            - else
              = "Последняя покупка: еще не совершалась, станьте первым!"
        %tr
          %td 
            = "Местоположение: #{@resource.store_city}, #{@resource.store_country}, #{@resource.adress}"
    %div.col-md-4
      %div.row