%div.container-fluid
  %div.row
    %div.col-md-8
      %h3 Добавьте товар на склад
      = simple_form_for [@store, @resource], method: :post, url: store_services_path(store_title: @store.title) do |f|
        %p
          = f.input :name, as: :string, label: 'Название'
        %p
          = f.input :category, as: :string, label: 'Категория товара'
        %p
          = f.input :description, as: :string, label: 'Описание'
        %p
          = f.input :in_sight, as: :boolean, label: 'В наличии'
        %p
          = f.input :price, as: :string, label: 'Стоимость'
        %p
          = f.input :currency, as: :select, collection: Service::CURRENCIES, selected: Service::CURRENCIES['Руб'], label: 'Валюта'
        %p
          = link_to "К списку товаров", store_services_path, class: "btn btn-default"
          = f.button :submit, 'Готово', class: "btn btn-primary"