%div.container-fluid
  %div.row
    = link_to "В офис", profile_path(@user.profile), class: "btn btn-default btn-sm"
    = link_to "В магазин", store_path(@store.title), class: "btn btn-default btn-sm"
    = link_to "К списку услуг", store_services_path, class: "btn btn-default btn-sm"
  %div.row
    %div.col-md-8
      %h4 Основная информация
      %table.table
        %tr
          %td
            %b
              = @resource.name
        %tr
          %td
            = "Категория: #{@resource.category}"
        %tr
          %td
            = "Описание: #{@resource.description}"
        %tr
          %td
            = "Стоимость в: #{Ware::CURRENCIES.key(@resource.currency)}"
        %tr
          %td
            - if @resource.last_buying_date.present?
              = "В последний раз купили: #{@resource.last_buying_date}"
            - else
              = 'Эту услугу еще никто не заказывал'
        %tr
          %td
            = "Всего покупок совершено: #{@resource.buying_count.to_i}"
    %div.col-md-4
      %div.row
        %p
          = link_to "Изменить информацию об услуге", edit_store_service_path(@store.title, @resource), class: "btn btn-default btn-block"
        %p
          = link_to "Удалить", store_service_path(@store.title, @resource), class: "btn btn-default", method: :delete, class: "btn btn-danger btn-block", data: { confirm: 'Вы уверены?' }
        %br
        %p
          = link_to "Перечень услуг в торговых точках", store_ware_storages_path(@store.title, ware_id: @resource.id), class: "btn btn-default btn-block"