%div.container-fluid
  %div.row
    %div.col-md-8
      %h4 Основная информация
      %table.table
        %tr
          %td
            %b
              = @resource.name
        %tr
          %td
            = "Категория: #{@resource.category}"
        %tr
          %td
            = "Описание: #{@resource.description}"
        %tr
          %td
            = 'В наличии:'
            - if @resource.in_sight
              = 'Да'
            - else
              = 'Нет'
        %tr
          %td
            = "Стоимость, #{Service::CURRENCIES.key(@resource.currency)}: #{@resource.price.round 2}"
        %tr
          %td
            - if @resource.last_buying_date.present?
              = "В последний раз купили: #{@resource.description}"
            - else
              = 'Эту услугу еще никто не заказывал'
    %div.col-md-4
      %div.row
        %p
          = link_to "К списку услуг", store_services_path, class: "btn btn-default btn-block"
        %p
          = link_to "В магазин", store_path(@store.title), class: "btn btn-default btn-block"
        %br
        %p
          = link_to "Изменить информацию об услуге", edit_store_service_path(@store.title, @resource), class: "btn btn-default btn-block"
        %p
          = link_to "Удалить", store_service_path(@store.title, @resource), class: "btn btn-default", method: :delete, class: "btn btn-danger btn-block", data: { confirm: 'Вы уверены?' }