= simple_form_for ([@store, @resource]) do |f|
  %p
    = f.input :name, as: :string, label: 'Название'
  %p
    = f.input :category, as: :string, label: 'Категория товара'
  %p
    = f.input :description, as: :string, label: 'Описание'
  - if @resource.new_record?
    %p
      = f.input :count, as: :integer, label: 'Количество'
  %p
    = f.input :unit, as: :select, :collection => ['шт', 'кг', 'л'], label: 'единица измерения', :selected => 'шт'
  %p
    - if @resource.new_record?
      = link_to "К списку товаров", store_goods_path, class: "btn btn-default"
    - else
      = link_to "Назад", store_good_path(@store, @resource), class: "btn btn-default"
    = f.button :submit, 'Готово', class: "btn btn-primary"