!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title Webmall
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags
  %body
    :css
      body {
        padding-left: 60px;
        padding-right: 60px;
        padding-top: 70px;
      }
    = nav_bar :fixed => :top, :brand => 'Главная страница', :brand_link => root_path do
      = menu_group do
        - if @user.present?
          -if @user.profile.attributes.count > 1
            = menu_item 'Офис', profile_path(@user.profile)

    = yield
