!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title Webmall
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags
  %body
    %nav.navbar.navbar-default{:fixed => :top, :role => :navigation}
      %div.navbar-header
        %a.navbar-brand{:href => root_path} ВебМолл
      %ul.nav.navbar-nav.pull-left
        / = menu_item 'Товары', goods_choises_path
        / = menu_item 'Услуги', services_choises_path
        / = menu_item 'Магазины', stores_choises_path
      %ul.nav.navbar-nav.pull-right
        - if user_signed_in?
          = menu_item 'Корзина', calls_path
          = menu_item 'Офис', profile_path(@user.profile)
          = menu_item 'Выход', destroy_user_session_path, method: :delete
        - else
          = menu_item 'Войти', new_user_session_path, method: :get
          = menu_item 'Регистрация', new_user_registration_path, method: :get
    %div.maindiv
      = yield
